{{#if username}}
  <h1>WELCOME {{username}}</h1>
  <form id="postPic" action="/gallery/new" method="get"><input type="submit" name="post" value="post a Image">
  </form>
  <form id="logout" action="/logout" method="get">
  <input type="submit" value="Log Out">
  </form>
  {{else}}
  <form action="/login" method="get">
    <div>
        <input type="submit" name="username" value="LOG IN"/>
    </div>
  </form>
  
  <form id="signup" action="/signup" method="get">
  <div>
    <input type="submit" name="register" value="Create Account">
  </div>
  </form>
{{/if}}


{{#each gallery}}
  <div class="post">
    <a href="/gallery/{{id}}">
    
    <img src="{{link}}">
    
    <p>{{author}}</p>
    <p>{{description}}</p>
    </a>
  </div>
{{/each}}